@charset "UTF-8";

@import url('bootstrap.min.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
    --main-font: 'Open Sans', sans-serif;
}

* {
    font-family: var(--main-font)!important;
}

button {
    margin-top: 5px;
    border-top: 2px solid green;
}

input, textarea {
    margin-bottom: 10px;
}

input.id {
    width: 50px;
}

textarea {
    margin-top: 10px;
}

.pagin {
    padding: 15px;
}